*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: firebrick;
}

.header{
    background-image: url(Preview.png);
    background-size: cover;
    min-height: 200vh;
    width: 100%;
    background-position: center;
    position: relative;
}

nav img{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: -2px;
}

.navlinks li{
    display: inline-flex;
    padding: 20px;
    margin-left: 7%;
}

nav a{
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
    margin: 8px;
    padding-bottom: 8%;
}

.welcome p{
    color: black;
    font-size: x-large;
    text-align: center;
    padding: 2%;
}

footer{
    color: black;
    text-align: center;
    padding: 5%;
    font-size: larger;
}